# Example mysql config file.

[client-server]
port = 3306
protocol = tcp

[mysqld]
# Directory where you want to put your data
bind-address = 0.0.0.0
port = 3306
# user = root
# datadir = /var/lib/mysql

# This will be passed to all mysql clients
# [client]
# password = my_password

[mysqld_safe]
user = root
datadir = /var/lib/mysql
port = 3306

[mariadb]
# language = /my/maria-5.5/sql/share/english/
port = 3306
datadir = /var/lib/mysql
# socket = /var/run/mysqld/mysqld.sock
bind-address = 0.0.0.0
