# Example mysql config file.

[client-server]
port = 3306
protocol=tcp

[mysqld]
# Directory where you want to put your data
skip-bind-address
basedir = /usr
datadir = /var/lib/mysql
user = root
password = $MYSQL_ROOT_PASSWORD

