# Example mysql config file.

[client-server]
port=3306
socket=/tmp/mysql-dbug.sock

[mysqld]
# Directory where you want to put your data
data=/var/lib/mysql
port = 3306
socket = /tmp/mysql.sock

# This will be passed to all mysql clients
# [client]
# password=my_password

# Here are entries for some specific programs
# The following values assume you have at least 32M ram

[mariadb]
language=/my/maria-5.5/sql/share/english/
socket=/tmp/mysql-dbug.sock
port=3306
